* {
    transition: all .2s;
}

@media screen and  (max-width: 1200px) {
    .cards__wrapper {
        width: 1000px;
    }
}
/* -------------------notebook */
@media screen and  (max-width: 1100px) {
    header {
        height: 130px;
    }
    .header__wrapper {
        margin-top: 2px;
        width: 700px;
    }
    .header__menu {
        height: 130px;
    }
nav {
    height: 130px;
    margin-left: 140px;
    li {
        margin-top: 8px;
    }
}
.header__btn {
    width: 400px;
    height: 65px;
    margin-left: 56px;
}

.container {
    width: 750px;
}

.cards__wrapper {
    width: 770px;
}
.cards__items {
    width: 400px;
}
.cards__header {
    padding-top: 50px;
}
.cards__text {
    width: 380px;
}
.cards__img {
    width: 400px;
    height: 400px;
    img {
        width: 380px;
        height: 380px;
    }
}
}

/* ------------ */
@media screen and  (min-width: 400px) {
    .container {
        width: 400px;
    }
    
        header {
            height: 200px;
            width: 400px;
            margin: 0;
        }
        .header__wrapper {
            display: flex;
            flex-direction: column;
            width: 400px
    
        }
        .header__menu {
            margin-left: -5px;
            margin-top: 25px;
        }
        .header__btn {
            width: 342px;
            height: 65px;
            margin-left: -25px;
            margin-bottom: 10px;
        }
    /* promo section */
    .promo {
        width: 410px;
    }
        .container {
            margin: 0;
        }
        .promo__info {
            margin-top: 25px;
            align-items: center;
        }
        .promo__text-header {
            padding-top: 25px;
            text-align: center;
        }
        .promo__text-subheader {
            text-align: center;
            padding-top: 20px;
            font-size: 36px;
        }
        .promo__button {
            width: 260px;
            height: 65px;
            margin-left: -25px;
        }
        /* contacts */
        .contacts {
            width: 410px;
            height: 200px;
        }
        .contacts__wrapper {
            display: flex;
            height: 100%;
            flex-direction: column;
            align-items: center;
        }
        .contacts__telephone {
            margin: 0;
            margin-top: 40px;
            width: 200px;
            height: 73px;
            a {
                font-size: 25px;
                margin-top: 13px;
            }
        }
        .contacts__mail {
            margin: 0;
            padding-top: 20px;
        }
        .contacts__vector {
            display: none;
        }
    
    
    /* ---------complex */
    .complex {
        width: 410px;
    }
    .complex__items {
        padding-left: 0;
        margin-left: -5px;
    }
    .complex__services-wrap {
        margin-left: 3px;
        margin-top: 90px;
        width: 370px;
    }
    
    /* cards */
    .cards {
        width: 400px;
        height: 850px;
    }
    
    .cards__wrapper {
        width: 400;
        display: flex;
        margin: auto;
        flex-direction: column;
    }
    .cards__items {
        width: 400px;
    }
    .cards__header {
        margin: 0 auto;
        padding-top: 0px;
    }
    .cards__text {
        width: 390px;
        margin-left: 4px;
    }
    .cards__btn {
        margin-left: 70px;
    }
    .cards__img {
        margin-top: 70px;
    }
    
    
    }


/* -------------- */

@media screen and  (max-width: 375px) {
.container {
    width: 400px;
}

    header {
        height: 200px;
        width: 400px;
        margin: 0;
    }
    .header__wrapper {
        display: flex;
        flex-direction: column;
        width: 400px

    }
    .header__menu {
        margin-left: -5px;
        margin-top: 25px;
    }
    .header__btn {
        width: 342px;
        height: 65px;
        margin-left: -25px;
        margin-bottom: 10px;
    }
/* promo section */
.promo {
    width: 410px;
}
    .container {
        margin: 0;
    }
    .promo__info {
        margin-top: 25px;
        align-items: center;
    }
    .promo__text-header {
        padding-top: 25px;
        text-align: center;
    }
    .promo__text-subheader {
        text-align: center;
        padding-top: 20px;
        font-size: 36px;
    }
    .promo__button {
        width: 260px;
        height: 65px;
        margin-left: -25px;
    }
    /* contacts */
    .contacts {
        width: 410px;
        height: 200px;
    }
    .contacts__wrapper {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
    }
    .contacts__telephone {
        margin: 0;
        margin-top: 40px;
        width: 200px;
        height: 73px;
        a {
            font-size: 25px;
            margin-top: 13px;
        }
    }
    .contacts__mail {
        margin: 0;
        padding-top: 20px;
    }
    .contacts__vector {
        display: none;
    }


/* ---------complex */
.complex {
    width: 410px;
}
.complex__items {
    padding-left: 0;
    margin-left: -5px;
}
.complex__services-wrap {
    margin-left: 3px;
    margin-top: 90px;
    width: 370px;
}

/* cards */
.cards {
    width: 400px;
    height: 850px;
}

.cards__wrapper {
    width: 400;
    display: flex;
    margin: auto;
    flex-direction: column;
}
.cards__items {
    width: 400px;
}
.cards__header {
    margin: 0 auto;
    padding-top: 0px;
}
.cards__text {
    width: 390px;
    margin-left: 4px;
}
.cards__btn {
    margin-left: 70px;
}
.cards__img {
    margin-top: 70px;
}


}