.header__btn {
    width: 210px;
    height: 32px;
    margin-left: 56px;
    background: none;
    border-width: 0;
    border: 1px solid #2F80ED;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    
    color: #2F80ED;
}

.promo__button {
    width: 210px;
    height: 32px;
    margin-top: 64px;
    background: #2F80ED;
    border-width: 0;
    border: 1px solid #2F80ED;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    
    color: #fff;
}

.cards__btn {
    width: 220px;
    height: 44px;
    background: none;
    border-width: 0;
    border: 1px solid #2F80ED;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #2F80ED;
}